body{
    margin: 0;
    border: 0;
    font-size:20px;
    overflow-x: hidden;
}

/*---------------------------------

    Top-Header Section

-----------------------------------*/
.top-header{
    margin: 0;
    width:100%;
    height: 30%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 3%;
}
.top-header h1{
    color: white;
    font-family: sans-serif;
    padding-top: 2%;
    font-size: 300%;
    font-weight: 600;
}
.top-header h6{
    color:white;
    font-family: sans-serif;
    font-weight:400;
    font-size: 100%;
    color: rgb(169,169,169);
}
.top-header img{
    border-radius: 100px;
    height: 150px; 
}


/*----------------------------

    At a Glance Section


-----------------------------*/
.glance{
    padding: 10px;
    background:  #006bb3;
    margin: 0px;
}
.glance h1,h2{
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px;
    padding-top:10px;
    line-height: 12px;
    color: rgba(255,255,240,0.5);
    text-transform: uppercase;
}
.glance p{
    font-weight: 700;
    padding-left: 20px;
    color: white;
}

.glance-header{
    padding: 10px;
    padding-top: 0px;
}
.glance-header:before{
    content:"";
    height: 52px;
    width :3px;
    display: inline-block;
    margin-top:10px;
    background-color: rgba(255,255,255,0.3);
    position:absolute;
}


/*--------------------------

    About Me Section

---------------------------*/
.about{
   padding: 20px;
    padding-top: 70px;
    background:  rgba(0,110,200,0.9);
    margin: 0px; 
}
.about h2{
    font-family: inherit;
    font-size: 35px;
    font-weight: 700;
    padding-left: 20px;
    padding-top:10px;
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
}
.about-header:before{
    content:"";
    height: 52px;
    width :5px;
    display: inline-block;
    margin-top:10px;
    background-color: rgba(255,255,255,0.3);
    position:absolute;
}
.about p{
    color: snow;
    padding: 20px;
    font-weight: 500;
}
.about q{
    color: white;
    font-size: 40px;
    font-style: italic;
    padding: 20px 10px 10px 10px; 
}

.about .quote{
    padding-left: 10px;
}
/*
.quote{
  font-size: 30px;
  margin: 0 auto;
    quotes: "“" "”" "‘" "’";
  padding: 10px 20px;
  line-height: 1.4;
}
*/
q:before {
  content: '“';
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}
*/
.about .quote i{
    font-size: 30px;
    color: rgba(255,255,255,0.8);
    float: left;
}

/*---------------------------------

    Media Queries

----------------------------------*/


@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
@media (min-width: 768px) {
    .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 50%;}

}




